* {box-sizing: border-box}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #aaa;
  overflow-x: hidden;
}

canvas {
  border: 1px solid;
  width: 700px;
  height: 700px;
}

/* TOOLS WINDOW */

.tools-window {
  position: absolute;
  background-color: #ddd;
  border-radius: 20px;
  box-shadow: 0 5px 10px 0 #0005;
  padding: 20px;
  transition: .1s;
}

.tools-window--top-window {
  top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  width: 80vw;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tools-window-button {
  font-weight: bold;
  width: 30px;
  height: 30px;
  background-color: #bbb;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer; 
}

.tools-window-button__symbol {
  width: 50%;
  height: 50%;
}

.tools-window--top-window .tools-window-button {
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.tools-window--top-window .tools-window-button__symbol {
  transform: rotate(-90deg);
}

.tools-window--top-window--closed {
  transform: translateY(-100%);
  box-shadow: none;
}
.tools-window--top-window--closed .tools-window-button__symbol {
  transform: rotate(90deg)
}


.tools-window--right-window {
  right: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  width: 20vw;
  height: 60vh;
}

.tools-window--right-window .tools-window-button {
  position: absolute;
  left: 0;
  bottom: 50%;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  transform: translate(-100%, 50%);
}
.tools-window--right-window--closed {
  transform: translateX(100%);
  box-shadow: none;
}
.tools-window--right-window--closed .tools-window-button__symbol {
  transform: rotate(180deg);
}

/* CELL TYPES INTERFACE */

.cell-types-tool__cell-selector {
  margin-bottom: 5px;
}

/* CELL RULES */

.cell-rules__title {
  margin-bottom: 5px;
  font-weight: bold;
}

.cell-rules__neighbors-counts {
  width: 40%;
}

.cell-rules__probability {
  width: 50px;
}

/* OTHER */

#fps-indicator {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
  font-size: 30px;
}