.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.popup--active {
  display: flex;
}

.popup__content-container {
  width: 60%;
  height: 60%;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  position: relative;
}

.popup__content {
  height: 100%;
  overflow-y: auto;
}

.popup__close-button {
  width: 40px;
  height: 40px;
  border-radius: 1000vw;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  cursor: pointer;
  transform: translate(30%, -30%);
  background-color: #fff;
}